In [27]:
#Question 1

#import numpy and pandas as np and pd respectively
import numpy as np
import pandas as pd

url = 'https://gist.githubusercontent.com/Prateek2901/035f43992c9c558118129690ced5b52d/raw/55fe52539d0dd2c68a704cc9a6f61d8af6d6b606/data-assignment-5.csv'
#loading csv to pandas dataframe
df = pd.read_csv(url , sep =',')
tf = df.head()
#printing top five lines of dataframe
print("top five lines \n")
print(tf)
#print only G1 G2 G3 column
print('\n column G1,G2 and G3 \n')
df.iloc[0:,5:]

top five lines

  school sex  age  health  absences    G1    G2    G3
0     GP   F   18       3         6   5.0   6.0   6.0
1     GP   F   17       3         4   5.0   5.0   6.0
2     GP   F   15       3        10   7.0   8.0  10.0
3     GP   F   15       5         2  15.0  14.0  15.0
4     GP   F   16       5         4   6.0  10.0  10.0

 column G1,G2 and G3

        G1    G2    G3
0      5.0   6.0   6.0
1      5.0   5.0   6.0
2      7.0   8.0  10.0
3     15.0  14.0  15.0
4      6.0  10.0  10.0
5     15.0  15.0  15.0
6     12.0  12.0  11.0
7      6.0   5.0   6.0
8     16.0  18.0  19.0
9     14.0  15.0  15.0
10    10.0   8.0   9.0
11    10.0  12.0  12.0
12    14.0  14.0  14.0
13    10.0  10.0  11.0
14    14.0  16.0  16.0
15    14.0  14.0  14.0
16    13.0  14.0  14.0
17     8.0  10.0  10.0
18     6.0   5.0   5.0
19     8.0  10.0  10.0
20    13.0  14.0  15.0
21    12.0  15.0  15.0
22    15.0  15.0  16.0
23    13.0  13.0  12.0
24    10.0   9.0   8.0
25     6.0   9.0   8.0
26    12.0  12.0  11.0
27    15.0  16.0  15.0
28    11.0  11.0  11.0
29    10.0  12.0  11.0
...    ...   ...   ...
1014  13.0  12.0  13.0
1015  15.0  14.0  15.0
1016  13.0  13.0  13.0
1017   8.0  10.0   9.0
1018  15.0  16.0  16.0
1019   8.0   8.0   9.0
1020  10.0  10.0  10.0
1021   7.0   5.0   NaN
1022   9.0  10.0  10.0
1023  10.0  11.0  12.0
1024   7.0   8.0   9.0
1025  15.0  17.0  17.0
1026  10.0  11.0  12.0
1027   7.0   8.0   9.0
1028  13.0  14.0  14.0
1029  16.0  16.0  16.0
1030   8.0   9.0   9.0
1031  17.0  18.0  19.0
1032   7.0   7.0   NaN
1033  14.0  15.0  16.0
1034   5.0   8.0   NaN
1035   7.0   7.0   NaN
1036  14.0  17.0  15.0
1037   6.0   9.0  11.0
1038   7.0   9.0  10.0
1039  10.0  11.0  10.0
1040  15.0  15.0  16.0
1041  11.0  12.0   9.0
1042  10.0  10.0  10.0
1043  10.0  11.0  11.0

[1044 rows x 3 columns]

In [26]:
#Question 2

checker = df['G3'].isnull()
flag = False
for i in checker:
    if i == True:
        flag = True
if flag == True:
    print("Missing data present")
else:
    print("No missing data")

null values present